@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --poppins: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #E3CFC9;
}

.container-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
    top: 20px;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    outline: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

/* estilizando #home */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
}

.title-home {
    font-family: var(--poppins);
}

.title-home h1 {
    color: #412F2E;
    font-size: 128px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.title-home h3 {
    color: #815E5B;
    box-shadow: rgba(0, 0, 0, 0.3);
    margin-top: -40px;
}

.content-home {
    padding: 100px 0px;
    color: #000000;
    font-family: var(--poppins);
}

.button-link button {
    padding: 20px 60px;
    font-size: 40px;
    font-weight: bolder;
    border-style: none;
    border-radius: 20px;
    background: #F8F3F2;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    outline:2px solid #815E5B;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button-link button:hover {
    color: #412F2E;
    background: #815E5B;
    transform: translateY(-5px);
}

.button-link a {
    text-decoration: none;
    font-family: var(--poppins);
    font-width: bold;
    color: #412F2E;
}

/* estilizando #plans */

#cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    text-align: center;
    font-family: var(--poppins);
    color: white;
    gap: 60px;
}

.cards ul {
    list-style: none;
}

/* TITULO */

.plans-title {
    font-family: var(--poppins);
    color: white;
    text-align: center;
    padding: 60px;
}

.plans-title h1 {
    color: #412F2E;
    font-size: 64px;
}

.plans-title p {
    color: #815E5B;
    margin-top: -25px;
}

/* CLASSIC CARD */

.card-classic {
    display: flex;
    flex-direction: column;
    background-color: #815E5B;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-classic:hover {
    transform: scale(1.01);
}

.card-classic h1 {
    color: #E6D3CE;
    padding-bottom: 40px;
}

.atributes-classic {
    color: #E6D3CE;
    padding-bottom: 40px;
    text-align: left;
}

.button-classic {
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    color: #815E5B;
    background: #412F2E;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button-classic:hover {
    transform: scale(1.01);
}

/* MAX CARD */

.card-max {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #412F2E, #815E5B);
    box-shadow: 0px 8px 30px rgba(255, 255, 255, 1);
    outline: 1px solid rgba(255, 255, 255, 0.753);
    padding: 30px 60px;
    border-radius: 20px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-max:hover {
    transform: scale(1.01);
}


.card-max h1 {
    color: #F8F3F2;
    padding-bottom: 40px;
    font-size: 64px;
}

.card-max > .price {
    color: #F8F3F2;
}

.atributes-max {
    color: #F8F3F2;
    padding-bottom: 40px;
    text-align: center;
}

.button-max {
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    font-family: var(--mont);
    font-weight: bolder;
    color: #815E5B;
    outline: 1px solid #815E5B;
    background: #F8F3F2;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button-max:hover {
    background: #F1E7E4;
    transform: scale(1.01);
}

/* PLUS CARD */

.card-plus {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    background: #815E5B;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-plus:hover {
    transform: scale(1.01);
}

.card-plus h1 {
    color: #E6D3CE;
    padding-bottom: 40px;
}

.atributes-plus {
    color: #E6D3CE;
    padding-bottom: 40px;
    text-align: right;
}

.button-plus {
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    font-weight: bolder;
    color: #815E5B;
    background: #412F2E;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-plus:hover {
    transform: scale(1.01);
}
/* PRICE */

.price {
    color: #E6D3CE;
    padding: 10px 0px;
    font-family: var(--mont);
    font-size: 32px;
}

/* Section: Looker Info */

#lookerinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-info {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.title-info {
    font-family: var(--poppins);
    color: #412F2E;
    text-align: center;
}

.title-info > h1 {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    font-size: 64px;
}

.title-info > p {
    margin-top: -25px;
}

.info-info {
    width: 40vw;
    padding: 20px;
}

.info-info p {
    text-align: left;
    font-family: var(--poppins);
    font-size: 18px;
    text-indent: 20px;
}

.info-info strong {
    background-color: #F8F3F2;
    color: #412F2E;
    padding: 2px;
}

.p1-info {
    padding: 10px 0px;
}

.p2-info {
    padding: 10px 0px;
}

.image-info {
    width: 40vw;
}

.icon-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.icon-info a {
    text-decoration: none;
    font-family: var(--mont);
    background-color: #F8F3F2;
    color: #412F2E;
}

.icon-info a:hover {
    text-decoration: underline;
}

/* Section: Login */

#login {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 50vw;
    background-color: #F8F3F2;
    padding: 40px;
    border-radius: 20px;
}

.input-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title-login {
    font-family: var(--poppins);
    color: #412F2E;
    font-size: 32px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    padding: 10px;
    border-style: none none solid none;
    border-color: #412F2E;
    background: transparent;
    outline: none;
    font-weight: 200;
}

.input-box input:hover {
    background: rgba(196, 196, 196, 0.212);
}

.email-login {
    padding: 10px 0px;
}

.password-login {
    padding: 10px 0px;
}

.button-login {
    padding-top: 10px;
}

.button-login button{
    padding: 10px 80px;
    border-radius: 10px;
    border-style: none;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.3);
    font-family: var(--mont);
    font-weight: bolder;
    color: #412F2E;
    outline: 1px solid #412F2E;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-login button:hover {
    background-color: #412F2E;
    color: #000000;
    transform: scale(1.05);
}

.vertical-bar {
    border: 1px solid #412F2E;
    border-radius: 10x;
    height: 100%;
}

.horizontal-bar {
    display: none;
    border: 1px solid #412F2E;
    width: 100%;
}

.alternative-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alternative-login h3 {
    font-family: var(--poppins);
    color: #412F2E;
    padding: 20px;
}

.alternative-login button {
    display: flex;
    gap: 10px;
    vertical-align: middle;
    padding: 10px;
    margin: 5px 0px;
    background-color: #F8F3F2;
    font-family: var(--poppins);
    color: #412F2E;
    border-style: none;
    border: 1px solid #412F2E;
    border-radius: 20px;
    cursor: pointer;
    transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.alternative-login button:hover{
    background-color: #412F2E;
    color: #000000;
}

.end-login {
    padding: 20px;
}

.end-login a {
    font-family: var(--poppins);
    text-decoration: none;
    color: #815E5B;
}

.end-login a:hover {
    text-decoration: underline;
}

footer {
    background-color: #412F2E;
    width: 100%;
    padding: 5px;
}

footer p {
    font-family: var(--mont);
    text-align: center;
    font-weight: bolder;
    color: #F8F3F2;
}


/* media queries 
   responsive sections
   #container-view
   */

@media (max-width: 1070px) {
    /* #home */
    .title-home h1 {
        font-size: 64px;
    }

    .title-home h3 {
        margin-top: -20px;
    }

    .content-home {
        padding: 50px;
    }

    .button-link button {
        padding: 10px 30px;
        font-size: 20px;
    }

    /* #cart */

    #cart {
        height: 170vh;
    }

    .plans-title {
        padding: 30px;
    }    

    .plans-title h1 {
        font-size: 32px;
    }

    .plans-title p {
        margin-top: -12.5px;
    }

    .cards {
        flex-direction: column;
        justify-content: auto;
    }

    .card-classic {
        height: 300px;
        width: 600px;
        flex-direction: flex;  
    }

    .responsive-classic {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .responsive-classic li {
        text-align: right;
    }

    .card-classic h1 {
        text-align: left;
    }

    .price {
        text-align: center;
    }

    .card-max {
        height: 400px;
        width: 600px;
        flex-direction: flex;
    }

    .resp-max {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .resp-max li {
        text-align: right;
    }

    .card-plus {
        height: 400px;
        width: 600px;
        flex-direction: flex;
    }

    .resp-plus {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

@media (max-width: 840px) {
    #lookerinfo{
        height: 150vh;
    }

    .content-info {
        flex-direction: column;
        
    }

    .info-info {
        display: flex;
        justify-content: space-around;        gap: 40px;
        width: 600px;
        height: 400px;
    }

    .info-info p {
        text-align: center;
        font-size: 14px;
    }

    .image-info {
        width: 20vw;
    }
}